extends layout.pug

block nav
    ul
        li: a(href="/recipes/new") Add Recipe
        li: a(href="/recipes/browse") Browse
    .right
        form(action="/logout" method="POST")
            button(class="btn waves-effecteate waves-light blue" type="submit") Logout
block content
    if recipes
        .container
            .row

                each recipe in recipes
                    .col.s8.offset-s2.m4
                        .card
                            .card-image
                                img(src=recipe.image)
                                span.card-title #{recipe.title}
                            .card-action
                                a(href=recipe.url class="grey-text text-darken-4") Recipe Link




    else
        h2 Looks like you have no recipes added!
        a(href="/recipes/new"): button(class="btn blue") Create
        span or
        a(href="/recipes/browse"): button(class="btn blue") Browse
