extends layout.pug

block content
    .nav-main
        h2 Recipe Box App
        .nav-right
                ul
                    li: a(href='/register') Register
                    li: a(href='/login') Login
    header
        .header-text
            h3 Pin your recipes and more!

        a(href="/register"): button.btn Register





