extends layout.pug

block nav
    a(class="brand-logo" href="#") Recipe App
    ul.right#nav-mobile
        li: a(href="/register") Register
        li: a(href="/login") Login
block content
    header.blue-grey
        .header-text
            h3 Pin your recipes and more!

        a(href="/register"): button.btn Register






