extends layout.pug

block nav
    ul
        li: a(href="/recipes/new") Add Recipe
        li: a(href="/") Dashboard
    .right
        form(action="/logout" method="POST")
            button(class="btn waves-effect waves-light blue" type="submit") Logout
block content
    if recipes
        .container
            .row

                each recipe in recipes
                    .col.s12.m4
                        .card
                            .card-image
                                img(src=recipe.image)
                                span.card-title #{recipe.title}
                            .card-action
                                -var link = '/recipe/pin/' + recipe._id
                                a(href=recipe.url) Recipe Link
                                a(href=link) Pin This!
    else
        h2 Something went wrong!
        a(class="button" href="/") Return