html * {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.nav-main{
    box-sizing: border-box;
    background-color: #191E28;
    position: fixed;
    top: 0;
    height: 9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #F4F6F9;
}

.nav-right{
    height: 100%;
}

.nav-right ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-right li {
    display: inline-block;
    padding: 10px 15px;
    width: 75px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #F4F6F9;
}
.nav-right a {
    height: 100%;
    width: 100%;
    font-size: 18px;
}

.nav-right li:hover{
    background-color: #F7F8F9;
    color: #191E28;
    font-size: 18px;
}

header{
    background-color: #193A60;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    display: block;
    width: 80px;
    background-color: inherit;
    border: 1px solid white;
    color: white;
    height: 35px;
}


.form-container{
    width: 70%;
    height: 600px;
    background: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container input{
    margin: 5px 5px;
    padding: 5px 1px;
    border: 1px solid grey;
    background: #F7F8F9;
    height: 30px;
    width: 300px;
}
.form-container label{
    display: block;
}