



header{
    height: 91vh;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}
.nav-wrapper {
    padding: 0 10px !important;
}

.img {
    max-height: 500px;
}
.card span{
    background-color: rgba(14, 14, 14, 0.5);
    width: 100%;
}
